.stake {
  width: 900px;
  height: 44px;
  max-width: 100%;
  background: #152237;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none !important;
  font-size: 16px;
  color: #fff !important;
  font-family: arial, sans-serif;
  overflow: hidden;
  position: relative;
  transition: background .3s;
}

.stake:hover {
  background: #04060a;
}

.game img {
  transition: all .3s;
}

.stake:hover .game--mines img {
  transition: all .3s 0;
  transform: scale(1.35);
  transform-origin: 50% 50%;
}

.stake:hover .game--dice img {
  transition: all .3s .05s;
  transform: scale(1.35);
  transform-origin: 50% 50%;
}

.stake:hover .game--blackjack img {
  transition: all .3s .1s;
  transform: scale(1.35);
  transform-origin: 50% 50%;
}

.stake:hover .game--hilo img {
  transition: all .3s .15s;
  transform: scale(1.35);
  transform-origin: 50% 50%;
}

.stake:hover .game--roulette img {
  transition: all .3s .2s;
  transform: scale(1.35);
  transform-origin: 50% 50%;
}

.stake:hover .game--plinko img {
  transition: all .3s .25s;
  transform: scale(1.35);
  transform-origin: 50% 50%;
}

.game svg, .game img {
  height: 16px;
}
  
.stake .button {
  border: none;
  background: #6FE200;
  color: rgba(0,0,0,.4);
  outline: none;
  font-size: 1em;
  padding: 0 1.2em;
  height: 100%;
  margin-left: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  pointer-events: none;
  transition: all .3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
display: flex;
  align-items: center;
  margin-right: 12px;
}

.game p, .stake-logo-wrapper {
  margin-left: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.6px;
  white-space: nowrap;
}

.game p {
  opacity: 0.6;
}

.game-wrapper {
  display: flex;
}

.game:last-child {
  margin-right: 0;
}

.stake-logo-wrapper {
  display: flex;
  align-items: center;
}

.stake-logo {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px 0 4px;
}

/* .stake-wrapper:hover button {
  transform: scale(1.1);
} */
.stake-logo-wrapper strong {
  color: #FFD44C;
}

	.bitdice-inl-rel {
		position: relative;
		display: inline-block;
	}
	
	.bitdice-ad {
		width: 900px;
		max-width: 900px;
		min-width: 900px;
		height: 42px;
		max-height: 42px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 4px;
		background: #361b4e;
		background: -moz-linear-gradient(left, #361b4e 0%, #453573 13%, #5f4e85 60%, #2d1644 100%);
		background: -webkit-linear-gradient(left, #361b4e 0%,#453573 13%,#5f4e85 60%,#2d1644 100%);
		background: linear-gradient(to right, #361b4e 0%,#453573 13%,#5f4e85 60%,#2d1644 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#361b4e', endColorstr='#2d1644',GradientType=1 );
	}
	
	.bitdice-ad-box {
		width: 100%;
    z-index: 1000;
	}

	.bitdice-link {
		position: absolute;
		width: 100%;
		height: 42px;
		left: 0;
		top: 0;
		z-index: 10;
	}
	
	.bitdice-logo-box {
    height: 38px;
    width: 144px;
    text-align: center;
    top: 2px;
    position: absolute;
    z-index: 2;
    float: left;
    left: 236px;
		transition: left 0.2s ease-out;
		-o-transition:  left 0.2s ease-out;
		-moz-transition: left 0.2s ease-out;
		-webkit-transition: left 0.2s ease-out;
	}
	
	.bitdice-logo {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAAAnCAMAAADXVzFHAAAAElBMVEWQznnM3R0Qsv8Qsv/M3R0Qsv/3RrZHAAAABnRSTlMB+/5Zhq7DfXDxAAACbElEQVRYw+2YSbarMAxEDSXtf8s/BANqSgYIo3+eJgRMwo1Uakxrh00fs8cbNn8M/dhesw4iD4E+B7wKJAZI7n0VBkhfBRIOJCeEG4gSIKjeZ5TFFgftx+S6KohY7AsCYJNSdJ4+UU8wiauFjxYWb4rIkyifAB0EMgSamSHy4oGcs/lVF9/ogZKoA7VXgIQDuZMCaPZA+qwGRZ9Mdi1VhxAV9JTahGRDqu1HoOgUG6OW9OSDhOCiBqC9DZTCS4B+lDFXkRR8iXwEdJ7oyE5DvBaAzKkTuJAsRJStAZpVdXaVeheZKVdZeAlo4kDCyoJyIDV6Ul5GyTWcSkimDMeAwDykMxe8xQQvF2UlHAAJS7IRUHi2skqP02YmprXKEVppwjVtgQC3uItn7cbwAXdalEFvJc6T3D2LumQXbRfZgGDuVXOvDLo9AUrjhdW0I7SL8XpcxxhoJ8onpHEUQJbWib+XHWSJkYnHdzK5BAROWEUk3NstATU2AEntrrMk87Ss7ecpQekfz0ClplOSIeuYa43PLkqfY8/vJpkWOgbpcG8BDZPMhbDStNeftVGvlydJ5kZWXAI6HYZI67icZCC9Aj8DTTeAaPdUQsuGa60mJ/8cUobqQdJFSOmETwdJUxfnYy7q8/JWmuX4vDtlX0sFfXlIL2bzUddcDPZFm1H9Vth2q1i/jtMtUPPDjwfCeAd01D0lW1ywbW8NJHFPKwRIx5vWAwikLNNpSItdtOQ9pMS5SSgQ6L4feVbV8tr4xUd/OWNq5nouqwihWH9JQfPlO+LDTPP61ZDdYKzqWS62v5d5/+fLvCtA1cu8R/YPMmwTDq/fw+cAAAAASUVORK5CYII=');  
		height: 38px;
		width: 144px;
		background-size: 144px;
		transition: transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -o-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -moz-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -webkit-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2);
		-o-transition: transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -o-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -moz-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -webkit-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2);
		-moz-transition: transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -o-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -moz-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -webkit-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2);
		-webkit-transition: transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -o-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -moz-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2), -webkit-transform 0.2s cubic-bezier(0, 1.76, 0.87, 2.2);
		transform: scale(0.6, 0.6);
		-o-transform: scale(0.6, 0.6);
		-moz-transform: scale(0.6, 0.6);
		-webkit-transform: scale(0.6, 0.6);
	}
	
	.bitdice-ad-box:hover .bitdice-logo {
		transform: scale(0.70, 0.70);
		-o-transform: scale(0.70, 0.70);
		-moz-transform: scale(0.70, 0.70);
		-webkit-transform: scale(0.70, 0.70);
	}
	
	.bitdice-ad-box:hover .bitdice-logo-box {
		left: 344px;
	}
	
	.bitdice-chip {
		height: 30px;
		width: 30px;
		background-size: 30px;
		transition: transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -o-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -moz-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -webkit-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), opacity 0.2s ease-in-out;
		-o-transition: transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -o-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -moz-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -webkit-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), opacity 0.2s ease-in-out;
		-moz-transition: transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -o-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -moz-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -webkit-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), opacity 0.2s ease-in-out;
		-webkit-transition: transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -o-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -moz-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), -webkit-transform 0.5s cubic-bezier(0, 3.86, 1,-2.57), opacity 0.2s ease-in-out;
		transform: scale(0.7, 0.7) rotate(0deg);
		-o-transform: scale(0.7, 0.7) rotate(0deg);
		-moz-transform: scale(0.7, 0.7) rotate(0deg);
		-webkit-transform: scale(0.7, 0.7) rotate(0deg);
		display: inline-block;
		position: relative;
	}

	.bitdice-chip-1 {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEUMoM9JwNeAzOS83+sCk7gbq8vY9fn2+vx6DfOUAAAAB3RSTlP+BP77+2COirvP4QAAARpJREFUKM9lUwGSxCAIo6Dy/x9fSNDaW6bjWGOUBLTnxJyRiJjzXbMDmlkyMJn/YbMNBybDPjCoY9iJms8XniRcMfYFBa/0XnZE7/RcDSsd81Bq4Z2H4JVke56oX+xdBU+RiQZi46Rbk4UCT858iG6PU2kUFctRW0JL4YCVMqm9pSbO9B+bBw7n4eElQVKnYBcxSrcn/2gO4FEWbkWFZgoG0OzOzMUOv9jnbp6Lz+qEz92dWpLoHCpzHC7dTJaXYxjSnWnQHce1iIAoVkauhUw9nnfmb01UEn9rcqG5C6p6+xbf9V67HbpbShOGISdiN5PbN9iWsU4rjp9OhaFXI9N4qC9tJrs/z+AqDNGfRwS84U29YT5BFu5+gn/aLwngNdgEfgAAAABJRU5ErkJggg==');  
	}

	.bitdice-chip-2 {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEXLIwnZZmLedGHz2NTUYlrLMCL8+PfopJhmKrmNAAAABnRSTlP+Av7lOnSArzQbAAABAklEQVQoz42TCY6EMAwEjc///3h9dBJgZqWxhAhUOvFJ1zY18TQxPf9oLYyIvY2I7IWVykbdS71jow+zg79Q8MLqjF8csZbhCjzuJBvXZkcuBot79PZ2rDfMpxTWETeNsnzzRKmJR8ybhgxvOV1RkbJs3C5U8CJ80SSkxXIwYlHgfTOnLe8Kd0r67BR7hIz8gQni3tHyybwdteDotFhq4Lq7YT1U8ni4xnAMB8jxnDsr4bEic+e+2p20s8Y748Ei/sia3HLugRe8RUlOxfxWsS7JklO86y3TDoIwaKImtKWgW4y/9Vrob624+bTDRyNjDM6UvMYAB/w7RBjBSoWYnhn8AypTCefCf720AAAAAElFTkSuQmCC');  	
	}

	.bitdice-chip-3 {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEXnnQz9+/jmoU/wv3bRgwTjnDf47eD3260i34v5AAAAB3RSTlP+/wT++2G1aKRGkAAAAPtJREFUKM9tkwkSAyEIBDED8v8fh3vdg6rUGttRGJF+EyJ7WWyRa44GEmFFEJE8MXkEVRsw3bBJmWnCx3JhoY+QxrJQU1Cd4ZLCmY6xTC1X2CDxznQqbw/Y2bZ2O5YUtzR5y6nErdXRh5x+iK1b3N+YguHK847jeDKYNY8YtUCz9hs2COCw1nC42VSxkqtby6UOR0xoOwPkC56bu3KC9I4RFefZPqjMpepuv4ErcTMzXcMUri/Xdnp+3Mh4vutKXH7wdrkv9HHf3OJqB60Oyaq4fOxmivbg+HF9jcu0Ir87leVoZA6qHqC0+/YMgvcrsT+vR2S8cEtP/P0E/+nwBt6JQPACAAAAAElFTkSuQmCC');  
		transition-delay: 0.1s;
		-o-transition-delay: 0.1s;
		-moz-transition-delay: 0.1s;
		-webkit-transition-delay: 0.1s;
	}

	.bitdice-chip-4 {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEWGvBf3+fGoxFWt0GN8pw+cwEDu8uDR5KrIfRmTAAAAB3RSTlP+/gT++2G1o/iVNQAAARJJREFUKM9tkwuSxCAIRDGA3P/GS9PgxNmhUonmyR/lOeK+V8p2//yTA0V0laiIf2OBEOfC5MKpaiZHsPYP9lJ4Ybx8sMMdRDWilxLLG9OfaNA3T+SCONOJOn6ktxvYmQtolJBrqUsrKyAM86tGdXkUnuE3SlvxKfN5KHHHOZYVUuopj/iNaYDqIk4Mi4tRQT10ITsDNjNRetYLJ7i1uyqX9hQMLvORH76ZtlbNVSp5RG4umXfQOpICXtgo8hZWTTuz8rvK06naXlO2KgnjYM13tySmnYx+GjgNrX7H9Du633vGIWZayrxd4/C4fs1abcLPKNq/STXz1yBbUTasuPl1DboxvAaHvi6R2eADX/j3FfwD8qAIdor+FsEAAAAASUVORK5CYII=');  
		transition-delay: 0.2s;
		-o-transition-delay: 0.2s;
		-moz-transition-delay: 0.2s;
		-webkit-transition-delay: 0.2s;
	}

	.bitdice-chip-5 {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEULy7Ba1bi37eZv3s8yzK0Xyqfd8+72+/tADazcAAAAB3RSTlP+Avv+N3aOJ/GJTQAAAPVJREFUKM+Nk4EOwyAIROkdyv//8QRQ29klI1vCfB4DAbmWaYMNQ9N9JtNpIrQwEWlfWMUtKMLVO25yWNv4hRZ33I11RGC51gtnOoNlanljOIl7plN5uzmHWXesKYbZg/ttHTjFNy2Sh1wuBkWdhzb/DeAlWnmaYaUGq1q0MCZ24rjeTtqsCQAdg+QXlhDHJY9LWOJ2U5MV3G8/1RPHV27Bd+YkwMHj18p81R0pccc2E5UL6w1BgpQqG2bIR7XZETDbtnqSLXH52bFoyZSf/e5zHFATEiZVKuYw8W3W0P8bxcXhxmOQH2tg5xpUgJ9LtFcQjxX8AMgTCYkqKxpRAAAAAElFTkSuQmCC');  
		transition-delay: 0.3s;
		-o-transition-delay: 0.3s;
		-moz-transition-delay: 0.3s;
		-webkit-transition-delay: 0.3s;
	}

	.bitdice-ad-box:hover .bitdice-chip {
		transform: scale(0.80, 0.8) rotate(360deg);
		-o-transform: scale(0.80, 0.8) rotate(360deg);
		-moz-transform: scale(0.8, 0.8) rotate(360deg);
		-webkit-transform: scale(0.8, 0.8) rotate(360deg);
	}

	.bitdice-slogan-box {
		z-index: 1;
    height: 42px;
    line-height: 42px;
    float: left;
    display: flex;
    align-items: center;		
	}
		
	.bitdice-slogan-box-small {
		z-index: 1;
    height: 42px;
    line-height: 42px;
    display: flex;
    align-items: center;
		transition: min-width 0.2s ease-out;
		-o-transition:  min-width 0.2s ease-out;
		-moz-transition: min-width 0.2s ease-out;
		-webkit-transition: min-width 0.2s ease-out;
	}

	.bitdice-slogan {
		color: #c6b6f4;
		transition: opacity 0.2s ease-in-out, font-size 0.1s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out, font-size 0.1s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out, font-size 0.1s ease-in-out;
		-webkit-transition: opacity 0.2s ease-in-out, font-size 0.1s ease-in-out;
		text-transform: uppercase;
		text-shadow: 0 2px 1px #2d1f3e, -1px -1px 1px #2d1f3e;
		font-weight: 600;
	}

	.bitdice-slogan-small {
		font-size: 12px;	
	}	

	.bitdice-ad-box:hover .bitdice-slogan-small {
		font-size: 0px;
	}

	.bitdice-slogan-small-2 {
		font-size: 0px;	
	}

	.bitdice-ad-box:hover .bitdice-slogan-small-2 {
		font-size: 10px;
	}

	.bitdice-slogan-1 {
		font-size: 14px;
		opacity: 1;
	}
		
	.bitdice-ad-box:hover .bitdice-slogan-1 {
		font-size: 0px;
		opacity: 0;
	}

	.bitdice-slogan-2 {
		font-size: 0px;
		opacity: 0;
	}

	.bitdice-ad-box:hover .bitdice-slogan-2 {
		font-size: 14px;
		opacity: 1;
	}

	.bitdice-action-button {
		z-index: 1;
	}
	
	.bitdice-color-orange {
		color: #f3b61f !important;		
	}

	.bitdice-fr {
		float: right;
	}

	.bitdice-mr-5 {
		margin-right: 5px;
	}

	.bitdice-mrl-20 {
		margin-right: 20px;
		margin-left: 10px;
	}

	.bitdice-hor-line {
		height: 20px;
		margin-right: 5px;
    border: solid;
    border-width: 0 1px 0 0;
    border-color: #fff;
		margin-left: 5px;
		margin-right: 2px;		
	}
	.bitdice-dice {
		height: 30px;
		width: 30px;
		background-size: 30px;
		transition: transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -o-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -moz-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -webkit-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), left 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), top 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96);
		-o-transition: transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -o-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -moz-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -webkit-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), left 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), top 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96);
		-moz-transition: transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -o-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -moz-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -webkit-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), left 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), top 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96);
		-webkit-transition: transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -o-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -moz-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), -webkit-transform 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), left 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96), top 1.0s cubic-bezier(0.16, 0.56, 0.55, 0.96);
		transform: scale(0.6, 0.6) rotate(0deg);
		-o-transform: scale(0.6, 0.6) rotate(0deg);
		-moz-transform: scale(0.6, 0.6) rotate(0deg);
		-webkit-transform: scale(0.6, 0.6) rotate(0deg);
		box-shadow: 0px 0px 1px 1px #c6b6f4, 0px 0px 1px 1px #c6b6f4;
		display: inline-block;
    position: absolute;
}

.bitdice-dice-1 {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEVHcEzM3B3M3B3M3B3M3B3M3B3M3B3M3B07hIjSAAAACHRSTlMA/YJsyBBfL4TZP3wAAADMSURBVCjPnZNJEgMhCEWZuf+NAxgj3aXpVNxY/ofKCOBEvF1EDkHhuNghqRubdl1D8NwSmyCieKMlGARk8Dwgtk+oBPTCNg7rug4BCRIzTuMtnreXc+M35MI6Trb+tmmfGJxExHpgFkImpTCou14TEkqFUPgjkgh1wysuJ+SEaTq8x+945D/88PjIT8vezXNgEd4EpnpvlKEUVhrF70lFJIVfSnIsqPV2kId2OOCvrUgZ7a6RsRq5xoDoPgY1QWrgpqcZ0pwUD8v9CvoCiwMEnssgshsAAAAASUVORK5CYII=');  
	left: 236px;
	border-radius: 1px;
	top: 6px;
}

.bitdice-ad-box:hover .bitdice-dice-1 {
	left: 470px;
	top: 6px;
	transform: scale(0.8, 0.8) rotate(540deg);
	-o-transform: scale(0.8, 0.8) rotate(540deg);
	-moz-transform: scale(0.8, 0.8) rotate(540deg);
	-webkit-transform: scale(0.8, 0.8) rotate(540deg);
}

.bitdice-dice-2 {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGFBMVEVHcEwQsv8Qsv8Qsv8Qsv8Qsv8Qsv8Qsv8N6vacAAAACHRSTlMAav5TGOA5rsuvIP0AAACqSURBVCjP3ZNBFsMgCERBBrz/jYtIqqalr+uwky8q40AELsPIKZUhRoNCxsY9jAVR6ti0tdaxILon1CvEMQZ1vnCPRENgmYv+Pj/3Nw7Mc6EFtqxelyeWwHnV1iBfjwmMrtqP9nlkkJjIDGffsHhJ4lK2h2PgDmbmErXpKapuohZfovTPh37YwQ47yG+3VFbUacUvRh4JlatvMMtND+Y5BiaoNINJzEsZ9AIatwQR8kKqUQAAAABJRU5ErkJggg==');  
	left: 10px;
	border-radius: 1px;
	top: 6px;
}

.bitdice-ad-box:hover .bitdice-dice-2 {
	left: 331px;
	top: 6px;
	transform: scale(0.8, 0.8) rotate(720deg);
	-o-transform: scale(0.8, 0.8) rotate(720deg);
	-moz-transform: scale(0.8, 0.8) rotate(720deg);
	-webkit-transform: scale(0.8, 0.8) rotate(720deg);
}

.bitdice-ad-box:hover .bitdice-logo {
	transform: scale(0.70, 0.70);
	-o-transform: scale(0.70, 0.70);
	-moz-transform: scale(0.70, 0.70);
	-webkit-transform: scale(0.70, 0.70);
}

.bitdice-chip-showit {
	opacity: 0;
}

.bitdice-ad-box:hover .bitdice-chip-showit  {
	opacity: 1;
}
.zp {
	font-family:Proxima Nova, sans-serif;
	width:100%;
	height:100%;
    overflow:hidden;
}

/* ad background */
.zp {
	display:flex;
    justify-content: space-between;
	width:893px;
	height:42px;
    margin:0 auto;
	position:relative;
	overflow:hidden;
	color:#fff;
	text-decoration:none;
	background:#2072ef;
/*	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px; */
    padding:0 0 0 7px;
    position: relative;
   
}
.halfCircle{
    
    -webkit-border-top-left-radius:20px;
	-moz-border-top-left-radius:20px;
	-ms-border-top-left-radius:20px;
	-o-border-top-left-radius:20px;
	border-top-left-radius:20px; 
    
    -webkit-border-bottom-left-radius:20px;
	-moz-border-bottom-left-radius:20px;
	-ms-border-bottom-left-radius:20px;
	-o-border-bottom-left-radius:20px;
	border-bottom-left-radius:20px;
    
    font-size:21px;
    padding-left:40px;
    padding-right:10px;
     width:723px;
    
    
}
.halfCircleArea{
    background-color:#fff;
    color:#2072ef;
   
}
.halfCircleAreaOnHover{
    background-color:#4f5868;
    color:#fff;
    
    position: absolute;top:0;right:-773px;bottom:0;
 
   -webkit-transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
   
    opacity: 0;
    
   
}
.halfCircleAreaOnHover2{
    background-color:#2072ef;
}
.topLayer{position:relative;z-index:99;
	 -webkit-transition: color 0.8s ease-in-out;
    -o-transition: color 0.8s ease-in-out;
    transition: color 0.8s ease-in-out;
}

a.zp:hover .topLayer{color:#fff;}
a.zp:hover .halfCircleAreaOnHover{
    
  
       opacity: 1;
    -webkit-transition: right 0.133333333333333s ease-in-out;
    -o-transition: right 0.133333333333333s ease-in-out;
    transition: right 0.433333333333333s ease-in-out;
    
    
    right: 0px;
    -webkit-transition-delay: 0.133333333333333s;
    -o-transition-delay: 0.133333333333333s;
    transition-delay: 0.133333333333333s;
    
    
    z-index: 9;
    
    
}

.redText{color:#fb663e;}
.flex{display:flex;} 
.align-center{align-items:center;}
.justify-center{justify-content: center;}
.justify-around{justify-content: space-around;}
.justify-between{justify-content: space-between;}
.justify-start{justify-content: flex-start;}

.smallfont{font-size: 10px;}

.zbutton{
    background:#fb663e;
    -webkit-border-radius:18px;
	-moz-border-radius:18px;
	-ms-border-radius:18px;
	-o-border-radius:18px;
	border-radius:18px;
    
    border:0;
    color:#fff; 
    font-size:14px;
    padding:8px;
    
}

.zp ul{list-style:none;margin:0;padding:0;}
.zp ul li{display: inline-block;border-right:1px solid #fff;padding:0 5px;}
.zp ul li:last-child{border-right:0;}
.zp:hover{text-decoration:none}
